@import "tailwindcss";

@theme {
  --font-righteous: Righteous;
  --font-caveat: Caveat;
  --color-mint: #9CCFD8;
  --color-lavender: #C4A7E7;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #09080C;
  }
}